<div class="gv-event-inner-wrap">
	<p class="gv-event-year"> <%= YEAR %> </p>
	<p class="gv-event-text"> <%= EVENT %> </p>
</div>

<div class="gv-event-modal">
	<h1> <%= EVENT %> </h1>
		<h2>  <%= YEAR %>  </h2>
	<p> fnkjnkjfn jkdfn jknfgjk fdjkgn jkfdng kfng jknfdjkgn jkfng jkfng n</p>
	<p> fnkjnkjfn jkdfn jknfgjk fdjkgn jkfdng kfng jknfdjkgn jkfng jkfng n</p>
	<p> fnkjnkjfn jkdfn jknfgjk fdjkgn jkfdng kfng jknfdjkgn jkfng jkfng n</p>

	<img src="https://placeholdit.imgix.net/~text?txtsize=28&txt=300%C3%97300&w=300&h=300" />
</div>