
& {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  max-width: 620px;
  margin: auto;
  max-height: 520px;
  -webkit-font-smoothing: antialiased;
  color:#333;

  &.gv-isMobile{
    max-height: 460px;
  }

  font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.gv-event-year {
    font-weight: 700;
    line-height: 1em;
    font-size: 22px;
    position: relative;
}

.gv-event-text {
    font-size: 24px;
    padding-bottom: 0;
    line-height: 1em;
    word-break: normal;
    font-weight: 100;
    color: #000;
}

.gv-container {
  position: relative;
  height: 100%;

}

&.gv-isMobile{
  .gv-event {
    height: calc(100% - 20px);
  }
  .gv-desktop-nav{
    display:none;
  }
}

.gv-event {
  background: #f6f6f6;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 2px;
  box-sizing: border-box;
  display: none;
  height: calc(100% - 80px);
  margin: 0 1px 1px 0;
  overflow: hidden;
  padding: 10px 10px;
  position: absolute;
  max-width: 320px;
  top: 3px;
  width: calc(100% - 20px);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  left: 50%;
  transform: translateX(-50%);

  p {
      margin: 16px 0;
  }

  &.active,
  &.delt,
  &.next{
    display: block;
  }

  &.active {
    z-index: 100 !important;

  }

  &.delt {
    transform: translateX(51.5%);
    opacity: 0.3;
  }

  &.next {
    transform: translateX( -151.6% );
    z-index: 99 !important;
    opacity: 0.3;
  }

 }

.gv-event .gv-event-year {
  font-size:24px;
  font-weight:100;
  margin:10px 0 0;
  font-family: Guardian Egyptian Web,Guardian Text Egyptian Web,Georgia,serif;
  display:block;
  padding-bottom: 0;
}
.gv-event .gv-event-text{
  font-family: Guardian Egyptian Web,Guardian Text Egyptian Web,Georgia,serif;
  font-weight:bold;
  margin: 0;
  font-size: 32px;
  margin-top: 4px;
}
.gv-event .gv-event-content{
  font-size: 22px;
  font-weight: 200;
  display: block;
  margin-top: 5px;
  font-family: Guardian Text Egyptian Web,Georgia,serif;

  .gv-event-inner-wrap {
    pointer-events: none;
    background: #f6f6f6;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 2px;
    padding: 10px 10px;
    height: calc(100% - 20px);
    width: calc(100% - 40px);
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background-size: cover;
  }

  .gv-event .gv-event-year {
    font-size:24px;
    font-weight:100;
    margin:10px 0 0;
    font-family: Guardian Egyptian Web,Guardian Text Egyptian Web,Georgia,serif;
    display:block;
    padding-bottom: 0;
  }
  .gv-event .gv-event-text{
    font-family: Guardian Egyptian Web,Guardian Text Egyptian Web,Georgia,serif;
    font-weight:bold;
    margin: 0;
    font-size: 32px;
    margin-top: 2px;
  }
  .gv-event .gv-event-content{
    font-size: 22px;
    font-weight: 200;
    display: block;
    margin-top: 5px;
    font-family: Guardian Text Egyptian Web,Georgia,serif;
    p{
      font-size:14px;
      line-height:20px;
    }
  }

}

.gv-event-copy {
    font-size: 14px;
}

.gv-event-images {
    width: 100%;
}

.gv-event-symbol {
    mix-blend-mode: luminosity;
    opacity: 0.7;

    &.gv-event-symbol-fade {
      opacity: 0.1;
    }
}

//

.gv-event-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  @import 'modules/_categories.scss';
}


.gv-event-tv {
  position: relative;
  padding: 2vw;
}

.gv-event-tv-screen {
    background-image: url(/imgs/tv.png);
    background-size: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}




// TIMELINE

&.gv-isMobile  {
  .gv-timeline-played {
    background:transparent;
  }
  .gv-timeline-marker {
    height:8px;
    width:2px;
    top:0;
    background:#aaa;
    margin-left:6px;
    border-radius:0;
  }
}

.gv-desktop-nav{
  width:100%;
  height:40px;
  position: absolute;
  bottom:24px;
  text-align: center;
  button{
    font-size:14px;
    height:34px;
    background:#005689;
    color:#fff;
    border:none;
    border-radius:34px;
    padding: 0 20px;
    line-height:1em;
    outline:none;
    cursor:pointer;

    &.disabled {
      opacity: 0.3;
      cursor: inherit;
    }
  }
}
.gv-timeline {
    width: calc(100% - 20px);
    margin: 18px auto 0 auto;
    height: 8px;
    position: relative;
    border-radius:4px;
    background-color:#ECECEC;
    bottom: 4px;
    position: absolute;
    left: 10px;
}
.gv-timeline-played{
    height: 7px;
    background: #333;
    border-radius:4px;
}

.gv-timeline-marker {
    width: 21px;
    height: 21px;
    background-color: transparent;
    position: absolute;
    left: 30%;
    text-indent: -100px;
    overflow: hidden;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 13px solid #3e3e3e;
    cursor: pointer;
    top: -7px;
    background-color: #FFF;
    border-radius: 50%;
    border: none;
    &:hover{
      &:before{
        background-color:#aaa;
      }
    }

    &::before {
      content: " ";
      display: block;
      width: 15px;
      height: 15px;
      background-color: #333;
      position: absolute;
      left: 3px;
      z-index: 2;
      border-radius: 50%;
      top: 3px;
      transition:background 0.2s;
    }
}

.gv-timeline-date {
    font-size: 14px;
    top: -12px;
    position: absolute;
    line-height: 0;


    &::-moz-selection { background: transparent; }
    &::selection { background: transparent; }
}

.gv-timeline-end {
  right: 0;
}


// NAVIGATION

&.gv-isMobile{
  .gv-nav{
    bottom:30px;
  }
}
.gv-nav {
    display: block;
    position: absolute;
    width: 37%;
    height: 100%;
    bottom: 70px;
    z-index: 105;
    cursor: pointer;
    text-indent: -9000px;
    overflow: hidden;
    z-index: 105;
}

.gv-nav-next {
  right: 0px;
}

.gv-nav-previous {
  left: 0px;
}

&.gv-isMobile{
  .gv-intro{
    display:block;
  }
}
.gv-intro {
    background-color: rgba(255, 255, 255, 0.94);
    z-index: 110;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 24px;
    box-sizing: border-box;
    padding: 20px;
    opacity: 1;
    transition: 100ms opacity;
    display:none;

    &.hide {
      opacity: 0;
    }
}

.gv-swipe-hint {
  position: absolute;
  top: 65%;
  left: 50%;
  height: 90px;
  width: 90px;
  background-image: url(/imgs/swipe.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  transform-origin: 50% 100%;
  animation: swipe 1.4s infinite;
  transition: 600ms opacity;
}

