/**
 * Project: Project name
 * File:    Main SCSS
 */
@import 'modules/_typography';
@import 'modules/_palette';
@import 'modules/_grid-system';
@import 'modules/_breakpoints';

// Optional side margins
@import 'modules/_mq';
@import 'modules/_side-margins';

// Setup page
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

// Remove <figure> margin
.interactive,
.gv-container {
    margin: 0;
    overflow: hidden;
}

.gv-header {
  margin: 0;
}


.gv-event-modal {
  width: 100%;
  background-color: #fec;
  box-sizing: border-box;
  padding: 10px 20px;
  clear: both;
  display: none;

  &.active {
    display: block;
  }

}

.modal-open .gv-event {
  width: calc((100% / 71) - 1px);
  height: 50px;
  opacity: 0.2;
}

.modal-open .gv-event.active {
  opacity: 1;
}


.gv-event {
    border: 1px;
    box-sizing: border-box;
    overflow: hidden;
    display: block;
    margin: 0 1px 1px 0;
    font-family: Guardian Text Egyptian Web,Georgia,serif;
    position: relative;
    cursor: pointer;
    background-size: cover;
    opacity: 0;
    margin-bottom: 3px;

  .gv-event-modal {
    display: none;
  }

  @include mq(tablet) {
    // width: calc(20% - 1px);
  }
  @include mq(desktop) {
    // width: calc(10% - 1px);
  }

  &:hover .gv-event-inner-wrap {
    background-color: rgba(214, 214, 214, 0.85);
    color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.2s, color 0.2s;

    .gv-event-year {
        transition: color 0.2s;
        color: rgba(0, 0, 0, 0.7);
    }
  }

  p {
      margin: 0;
  }


  &.clicked {
    transform: scale(3.0089);
    z-index: 100000;
    transition: all 0.2s;
    transform-origin: 100% 50%;
  }
}

.gv-event-year {
    font-weight: 700;
    float: left;
    line-height: 1em;
    font-size: 24px;
    position: relative;

 &::before {
    content: " ";
    /* border-top: 1px solid #0a0a0a; */
    width: 12%;
    display: block;
    padding-top: .8em;
    position: absolute;
    right: 0;
    top: .5em;
 }

}

.gv-event-text {
    font-size: 22px;
    font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
    width: 180px;
    line-height: 1em;
    word-break: normal;
}



.grid .gv-event-inner-wrap {
    overflow: hidden;
    border-left: 1px solid #C7C7C7;
    padding: 0 0 10px 10px;
    /* border-top: 1px solid #ccc; */
    margin-bottom: 10px
}

.gv-container {
  position: relative;
  height: 100%;

}

.grid {
  margin: auto;


  * {
      opacity: 1;
  }

  .gv-event {
    perspective: 430px;
    perspective-origin: 50% 0;
    background: none!important;
    height: 100%;
    width: 0;
    position: relative;
    // margin-top: -30px;
    overflow: visible;
    // transition: 0.02s margin, 0.02s transform, 0.8s left;
    margin-top: 0;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;

    position: absolute;
    left: 4px;
    top: 3px;
    height: calc(100% - 40px);
    cursor: pointer;
    transform: scale(0.96) translateY(0px);

    &.active {
      transform: scale(1) translateY(0px);
      left: 28px;
      z-index: 100 !important;

       .gv-event-inner-wrap {
          // box-shadow: -1px 2px 8px rgba(0,0,0,0.2);
          border-color: rgba(0,0,0,0.5);
          background-color: #FFF7CB !important;
          transform: rotateX(0);
       }

    }

    &.delt {
      left: calc(100% - 28px);

      .gv-event-inner-wrap {
          border-color: rgba(0,0,0,0.3);
          color: rgba(0,0,0,0.5);
       }
    }

    &.next {
      left: 11px;
      transform: scale(0.98) translateY(0px);
      z-index: 99 !important;

       .gv-event-inner-wrap {
          border-color: rgba(0,0,0,0.3);
          color: rgba(0,0,0,0.5);
       }


    }

    // &.active + div {
    //   margin-top: 220px;
    // }
   }


  .gv-event-inner-wrap {
    background: #f7f7f7!important;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 2px;
    padding: 10px 10px;
    height: calc(100% - 20px);
    width: 243px;
    overflow: hidden;
    position: relative;


  }

  .gv-event-year {
    position: absolute;
    right: 10px;
  }

}


.intro {
  .gv-event {

    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: "Guardian Text Egyptian Web",Georgia,serif;

    opacity: 1;
    transition-property: opacity;
    transition-duration:  0.002s;



    .gv-event-year {
      font-size: 70px;
      position: absolute;
      top: calc(75% - 70px);
      left: 30px;
      color: rgba(255, 255, 255, 0.7);
      z-index: 1;
    }

    .gv-event-text {
      position: absolute;
      top: 75%;
      left: 30px;
      padding: 0;
      width: 80%;
      color: rgba(255, 255, 255, 1);
      z-index: 1;
      font-size: 1em;
    }


    .gv-event-inner-wrap {
      font-size: 53px;
      line-height: 1.1em;
      padding: 20px;
      background: rgba(0,90,255,0.7);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .gv-event-content {
      display: none;
    }

  }



  .war .gv-event-inner-wrap {
    background-color: rgba(82, 63, 56, 0.83);
  }

  .misc .gv-event-inner-wrap {
    background-color: rgba(89, 74, 101, 0.83);
  }

  .health .gv-event-inner-wrap {
    background-color: rgba(52, 74, 50, 0.83);
  }

  .refugees .gv-event-inner-wrap {
    background-color: rgba(50, 70, 103, 0.83);
  }

  .energy .gv-event-inner-wrap {
    background-color: rgba(50, 70, 103, 0.83);
  }

  .money .gv-event-inner-wrap {
    background-color: rgba(50, 70, 103, 0.83);
  }

  .peace .gv-event-inner-wrap {
    background-color: rgba(50, 70, 103, 0.83);
  }



}


.gv-btn {
  border: none;
  padding: 10px 29px;
  font-size: 20px;
  background-color: #FFDA00;
  cursor: pointer;
}

.gv-btn-skip {
  position: absolute;
  z-index: 100;
  bottom: 10%;
  right: 10px;
}





.gv-event-text {
    font-size: 22px;
    font-family: Guardian Egyptian Web,Guardian Text Egyptian Web,Georgia,serif;
    width: 180px;
    padding-bottom: 10px;
}

.gv-event-copy {
    font-size: 14px;
}

.gv-event-video {
    border: 1px dashed red;
    width: 100%;
}

.gv-event-images {
    width: 100%;
}



.gv-timeline {
    width: calc(100% - 20px);
    margin: 18px auto 0 auto;
    border-top: 1px solid #BABABA;
    height: 3px;
    position: relative;
    background: linear-gradient(to right,#ccc 0,#ccc 1px,transparent 0%,transparent 100%) repeat-x left bottom;
    background-size: 6px 5px;
    background-position: 1px 0;
    bottom: 10px;
    position: absolute;
    left: 10px;
}

.gv-timeline-marker {
    width: 10px;
    height: 10px;
    background-color: transparent;
    position: absolute;
    left: 30%;
    text-indent: -100px;
    overflow: hidden;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 13px solid #3e3e3e;
    cursor: pointer;
    top: -5px;
    background-color: #222;
    border-radius: 50%;
    border: none;
}

.gv-timeline-date {
    font-family: sans-serif;
    font-size: 14px;
    top: -10px;
    position: absolute;
    line-height: 0;
}

.gv-timeline-end {
  right: 0;
}


.gv-nav {
    position: absolute;
    width: 30px;
    height: 80px;
    bottom: 40%;
    z-index: 9999;
    border-radius: 3px;
    font-weight: 700;
    font-size: 39px;
    font-family: serif;
    text-align: center;
    line-height: 1.4em;
    color: rgba(0,0,0,.12);
    vertical-align: middle;
    line-height: 200%;
    /* text-shadow: 0 0 2px rgba(0, 255, 172, 0.6); */
    padding: 24px 0px 24px 12px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;

  &:hover {
    background-color: rgba(255, 210, 4, 0.79);
    color: #fff;
  }
}
.gv-nav-next {
  right: 0px;
}

.gv-nav-previous {
  left: 0px;
  padding: 24px 12px 24px 0;
}