/**
 * Project: Project name
 * File:    Main SCSS
 */
@import 'modules/_typography';
@import 'modules/_palette';
@import 'modules/_grid-system';
@import 'modules/_breakpoints';

// Optional side margins
@import 'modules/_mq';
@import 'modules/_side-margins';

// Setup page
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

// Remove <figure> margin
.interactive,
.gv-container {
    margin: 0;
    overflow: hidden;
}

.gv-70 {
    @import '70.scss';
}

.gv-myun {
    @import 'myun.scss';
}