body {
  height: auto !important;
}

#interactive-wrapper{
	margin:0 10px;
	max-width:620px;
}
h1 {
	@include fs-header(4);
}

$category-red: #FF4943;
$category-blue: #6089b0;
$category-grey: #878787;
$category-beige: #FFE2B6;
$category-green: #00d373;
$category-light-grey: #f1f1f1;
$category-yellow: #ffbf0d;

#profile-selector{
	border-top:1px solid #eee;
	overflow: hidden;

	h2{
		@include fs-header(1);
		margin-top:5px;
		margin-bottom:12px;
	}
	ul{
		margin:0;
		padding:0;
		line-height:0;
	}
	ul li{
		display:inline-block;
		width: 50px;
		height:50px;
		background: $category-light-grey url(/imgs/illustrations/head.svg);
		background-size:100%;
		background-repeat: no-repeat;
		background-position:bottom center;
		margin:0 5px 0 0;
		padding:0;
		border-radius:50px;
		cursor:pointer;
		font-size:0;

		&.active{
			background-color: $category-grey;
		}
	}

	p{
		line-height:1.6em;
		margin:0;

		select {
		   -webkit-appearance: none;
		   -moz-appearance: none;
		   appearance: none;
		   padding:1px 25px 1px 5px;
		   background-color:$category-light-grey;
		   border-radius:2px;
		   color:#1E3D57;
		   border:none;
		   line-height:1em;
		   background-image:url(/imgs/arrow.svg);
		   background-repeat:no-repeat;
		   background-position: right 5px top 8px;
		   max-width:140px;
		   margin:0 5px;
		   @include fs-header(1);
		   &:first-child{
			   margin-left:0;
		   }
		}
		select::-ms-expand {
		    display: none;
		}
	}
}

.resolution{
	box-sizing: border-box;
	cursor:pointer;
	border-bottom: 1px solid #EEE;

	h4{
		margin:0;
		@include fs-header(2);
		line-height: 1em;
	}
	h5{
		@include fs-header(1);
		margin:0;
		font-weight:100;
		line-height: 1em;
	}

	p{
		@include fs-bodyCopy(1);
		margin: 0 0 1em 0;
	}

	.content-container{
		display: none;
		box-sizing: border-box;
	}

	.resolution-title {
		font-weight: 100;
		padding: 4px 0;

	}

	.content-title {
		border-bottom: 1px solid #999;
		margin: 1em 20px;
		padding-bottom: 9px;
		display: none;
	}


	.title-container{
		margin-right:44px;
	}

	&.active{
		cursor:default;

		.resolution-title {
			font-weight: 700;
		}

		.wrap{
			top:0;
			bottom:auto;
		}
		&:hover{
			opacity:1;
		}

		.content-container{
			display:block;
		}
		.illustration-container{
			display:block;
		}
	}

}

#profile-filter {
	margin-top: 10px;
}

#resolution-list {
	position: relative;
	min-height: 520px;
	clear: left;
	margin-top: 20px;
}

.resolution-illustration {
	background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
	// background-blend-mode: luminosity;
	min-height: 120px;

	@import 'modules/_categories.scss';
}

#details {
	display: none;
}

@media(min-width:480px){
	.resolution {
		padding: 4px;

		p{
			@include fs-bodyCopy(1);
			margin: 1em 20px;
		}

		&.active{
			cursor:default;

			.content-title {
				display: block;
			}

			.resolution-title {
				font-weight: 700;
				position: relative;
				padding-left: 6px;

				&::before {
					content: " ";
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background-color: $category-grey;
					display: block;
					position: absolute;
					left: -9px;
					top: 0.2em;
				}
			}
		}
	}


	#resolution-list {
		width: 40%;
		float: left;

		.content-container {
			display: none;
		}
	}

	#profile-selector ul,#profile-filter{
		float: left;
	}

	#profile-filter {
		max-width: 300px;
		margin-left: 20px;
		margin-top: 0;
	}


	.filter-gender,
	.filter-country {
		display: block;
	}

	#details {
		display: block;
		width: calc(60% - 10px);
		float: left;

		.resolution .content-title {
			margin: 1em 20px;
			padding-top: 1em;
		}

		.resolution {
			display: none;
			border: none;

			&.active {
				display: block;
			}
		}
	}



	.content-container {
		background-color: #f1f1f1;
		box-sizing: border-box;
	}

	.resolution-illustration {
		background-size: contain;
		min-height: 200px;
	}

}
