#interactive-wrapper{
	margin:0;
	max-width:620px;
}
h1 {
	@include fs-header(4);
	margin-bottom:18px;
}

$category-red: #FF4943;
$category-blue: #6089b0;
$category-grey: #878787;
$category-beige: #FFE2B6;
$category-green: #00d373;
$category-light-grey: #f1f1f1;
$category-yellow: #ffbf0d;

#profile-selector{
	border-top:1px solid #eee;
	overflow: hidden;

	h2{
		@include fs-header(1);
		font-size:18px;
		margin-top:4px;
		margin-bottom:16px;
		span{
			display: block;
			font-weight:normal;
			color:#767676;
		}
	}
	ul{
		margin:0;
		padding:0;
		line-height:0;
	}
	ul li{
		display:inline-block;
		width: 60px;
		height:60px;
		background-size:100%;
		background-repeat: no-repeat;
		background-position:bottom center;
		margin:0 5px 0 0;
		padding:0;
		border-radius:50px;
		cursor:pointer;
		font-size:0;
		background-color:#dfdfdf;

		&.active{
			background-position: top center;
		}

		&.persona-1{
			background-image:url(/imgs/Persona-01.svg);
			&.active{
				background-color:$category-red;
			}
		}
		&.persona-2{
			background-image:url(/imgs/Persona-02.svg);
			&.active{
				background-color:$category-yellow;
			}
		}
		&.persona-3{
			background-image:url(/imgs/Persona-03.svg);
			&.active{
				background-color:$category-green;
			}
		}
		&.persona-4{
			background-image:url(/imgs/Persona-04.svg);
			&.active{
				background-color:$category-blue;
			}
		}

	}

	p{
		line-height:1.6em;
		margin:0;

		select {
		   -webkit-appearance: none;
		   -moz-appearance: none;
		   appearance: none;
		   padding:1px 25px 1px 5px;
		   background-color:$category-light-grey;
		   border-radius:2px;
		   color:#333;
		   border:none;
		   line-height:1em;
		   background-image:url(/imgs/arrow.svg);
		   background-repeat:no-repeat;
		   background-position: right 5px top 8px;
		   max-width:140px;
		   margin:0 5px;
		   display:inline-block;
		   @include fs-header(1);
		   &:first-child{
			   margin-left:0;
		   }
		}
		select::-ms-expand {
		    display: none;
		}
	}
}

.resolution{
	box-sizing: border-box;
	cursor:pointer;
	border-top: 1px solid #EEE;

	&:first-child{
		// border-top:2px solid #EEE;
	}

	h4{
		margin:0;
		@include fs-header(2);
		line-height: 1em;
	}
	h5{
		@include fs-header(1);
		margin:0;
		font-weight:100;
		line-height: 1em;
	}

	p{
		@include fs-bodyCopy(1);
		margin: 0 0 20px 0;
		padding-top:4px;
	}

	.content-container{
		display: none;
		box-sizing: border-box;
	}

	.resolution-title {
		font-weight: normal;
		padding: 5px 0 20px;

	}

	.content-title {
		border-bottom: 1px solid #999;
		margin: 1em 20px;
		padding-bottom: 9px;
		display: none;
	}


	.title-container{
		margin-right:44px;
	}

	&.active{
		cursor:default;

		.resolution-title {
			font-weight: 700;
		}

		.wrap{
			top:0;
			bottom:auto;
		}
		&:hover{
			opacity:1;
		}

		.content-container{
			display:block;
		}
		.illustration-container{
			display:block;
		}
	}

}

#profile-filter {
	margin-top: 10px;
}

#resolution-list {
	position: relative;
	min-height: 520px;
	clear: left;
	margin-top: 36px;
}

.resolution-illustration {
	background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
	// background-blend-mode: luminosity;
	min-height: 180px;

	@import 'modules/_categories.scss';
}
.resolution.active .content-container{
		max-width:420px;
	}
@media(min-width:420px){
	
}
@media(min-width:480px){
	.resolution{
		position: relative;
		
		.resolution-illustration{
			position: absolute;
			right:0;
			width:180px;
			height:calc(100% - 55px);
			background-size:70%;
			min-height:0;
		}
		.resolution-title{
			padding-right:200px;
		}
		p{
			padding-right:200px;
			margin:0;
			padding-top:0;
		}
		&.active{
			padding-bottom:10px;
			.content-container{
				max-width:none;
			}
		}

		
	}
}
@media(max-width:520px){
	#details {
		display: none;
	}
}
@media(min-width:520px){
	.resolution {
		padding: 0;

		p{
			@include fs-bodyCopy(1);
			margin: 10px 10px 0;
			padding-right:0;
		}

		&.active{
			cursor:default;
			padding-bottom:0;
			.content-title {
				display: block;
			}

			.resolution-title {
				font-weight: 700;
				position: relative;
			}
			.content-container{
				padding-bottom:14px;
			}
		}
		.resolution-illustration{
			position: relative;
			min-height:200px;
			width:100%;
			background-size:auto 100%;
		}
		.resolution-title{
			padding-right:0;
			font-size:16px;
		}

	}


	#resolution-list {
		width: 140px;
		float: left;

		.content-container {
			display: none;
		}
	}
	#profile-selector ul li{
		width:56px;
		height:56px;
		margin-right:2px;
	}
	#profile-filter {
		max-width: none;
		margin-left: 10px;
		padding-left:6px;
		border-left:1px solid #eee;
		margin-top: 0;
		padding-top:4px;
		float:left;
		width:250px;
		height:56px;
	}
	#personas{
		float:left;
	}

	#details {
		display: block;
		width: calc(100% - 160px);
		float: left;
		margin-left:20px;
		margin-top:36px;

		.resolution .content-title {
			margin: 0;
			padding:14px 10px 0;
			border:none;
		}

		.resolution {
			display: none;
			border: none;

			&.active {
				display: block;
			}
		}
	}



	.content-container {
		background-color: #f1f1f1;
		box-sizing: border-box;
		padding-top:1px;
		padding-bottom:1px;
	}

	.resolution-illustration {
		background-size: contain;
		min-height: 200px;
	}

}

@media(min-width:620px){
	#profile-selector ul li{
		width:60px;
		height:60px;
		margin-right:5px;
	}
	#profile-filter {
		width:310px;
		height:60px;
	}
	#details{
		width: calc(100% - 200px);
	}
	#resolution-list {
		width:180px;
	}
}
